/*
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";*/
.carousel
{
    position: relative;
}

.carousel-inner
{
    position: relative;

    overflow: hidden;

    width: 100%;
}
.carousel-inner > .item
{
    position: relative;

    display: none;

    transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
    line-height: 1; 

    display: block;

    max-width: 100%;
    height: auto;
}
@media all and (transform-3d), (-webkit-transform-3d)
{
    .carousel-inner > .item
    {
        transition: transform .6s ease-in-out;

        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        perspective: 1000px;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right
    {
        left: 0; 

        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left
    {
        left: 0; 

        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active
    {
        left: 0; 

        transform: translate3d(0, 0, 0);
    }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev
{
    display: block;
}
.carousel-inner > .active
{
    left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev
{
    position: absolute;
    top: 0;

    width: 100%;
}
.carousel-inner > .next
{
    left: 100%;
}
.carousel-inner > .prev
{
    left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right
{
    left: 0;
}
.carousel-inner > .active.left
{
    left: -100%;
}
.carousel-inner > .active.right
{
    left: 100%;
}

.carousel-control
{
    font-size: 20px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 15%;

    text-align: center;

    opacity: .5;
    color: #fff;
    background-color: transparent; 
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

    filter: alpha(opacity=50);
}
.carousel-control.left
{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right
{
    right: 0;
    left: auto;

    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus
{
    text-decoration: none;

    opacity: .9;
    color: #fff;
    outline: 0;

    filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right
{
    position: absolute;
    z-index: 5;
    top: 50%;

    display: inline-block; 

    margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left
{
    left: 50%;

    margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right
{
    right: 50%;

    margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next
{
    font-family: serif; 
    line-height: 1;

    width: 20px;
    height: 20px;
}
.carousel-control .icon-prev:before
{
    content: '\2039';
}
.carousel-control .icon-next:before
{
    content: '\203a';
}

.carousel-indicators
{
    position: absolute;
    z-index: 15;
    bottom: 10px;
    left: 50%;

    width: 60%;
    margin-left: -30%;
    padding-left: 0;

    list-style: none;

    text-align: center;
}
.carousel-indicators li
{
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 1px;

    cursor: pointer;
    text-indent: -999px;

    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #000 \9;
    background-color: transparent;
}
.carousel-indicators .active
{
    width: 12px;
    height: 12px;
    margin: 0;

    background-color: #fff;
}

.carousel-caption
{
    position: absolute;
    z-index: 10;
    right: 15%;
    bottom: 20px;
    left: 15%;

    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn
{
    text-shadow: none;
}

@media screen and (min-width: 768px)
{
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next
    {
        font-size: 30px; 

        width: 30px;
        height: 30px;
        margin-top: -10px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev
    {
        margin-left: -10px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next
    {
        margin-right: -10px;
    }
    .carousel-caption
    {
        right: 20%;
        left: 20%;

        padding-bottom: 30px;
    }
    .carousel-indicators
    {
        bottom: 20px;
    }
}

.container
{
    padding: 0 20px;
}

@font-face
{
    font-family: 'PTSans Narrow';
    font-weight: 700;
    font-style: normal; 

    src: url('PTS77F_W.eot');
    src: url('../fonts/PTN77F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTN77F_W.woff') format('woff'), url('../fonts/PTN77F_W.ttf') format('truetype'), url('../fonts/PTN77F_W.svg#PTSans-Bold') format('svg');
}

@font-face
{
    font-family: 'PTSans Narrow';
    font-weight: normal;
    font-style: normal; 

    src: url('PTS57F_W.eot');
    src: url('../fonts/PTN57F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTN57F_W.woff') format('woff'), url('../fonts/PTN57F_W.ttf') format('truetype'), url('../fonts/PTN57F_W.svg#PTSans-Regular') format('svg');
}

@font-face
{
    font-family: 'Days';
    font-weight: normal;
    font-style: normal; 

    src: url('Days.eot');
    src: url('../fonts/Days.eot?#iefix') format('embedded-opentype'), url('../fonts/Days.woff') format('woff'), url('../fonts/Days.ttf') format('truetype'), url('../fonts/Days.svg#Days-Regular') format('svg');
}

img
{
    max-width: 100%;
}

body
{
    font-family: 'PTSans Narrow', Arial, sans-serif; 

    margin: 0;

    background-color: white;
}

a
{
    text-decoration: none; 

    color: inherit;
}

.clearfix::after
{
    display: table;
    clear: both; 

    content: '';
}

h1,
h2,
h3,
h4
{
    margin: 0;
    padding: 0;
}

.about-us
{
    position: relative;
}
.about-us__title
{
    font-family: 'Days', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;

    position: absolute;
    top: 0;
    left: calc(50% - 125px);

    width: 250px;
    height: 50px;
    padding: 10px 0;

    text-align: center;
    text-transform: uppercase;

    color: white;
    background-image: url('../img/about-us-title-bg.png');
    background-repeat: no-repeat;
    background-position-x: center;
}
.about-us__content
{
    width: 630px;
    padding: 40px 0 15px 0;
}
.about-us__content-item
{
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 5px; 

    color: #575757;
}

.contacts
{
    font-size: 18px;
    line-height: 19px;

    position: relative;

    display: table-cell;

    box-sizing: border-box;
    width: 214px;
    padding-left: 22px;

    text-align: right;
    vertical-align: middle;

    border-left: 2px solid white;
}
.contacts::before
{
    position: absolute;
    top: -10px;
    right: -20px;

    width: 20px;
    height: 119px;

    content: '';

    background-image: url('../img/rectangleh2.png');
}
.contacts__phones
{
    margin-bottom: 5px;
}
.contacts__phones-title,
.contacts__work-time-title
{
    font-weight: normal;

    text-transform: uppercase;
}

.container
{
    display: table;

    box-sizing: border-box;
    width: 980px;
    margin: 0 auto;
}
.container--about-us
{
    background-image: url('../img/about-us-bg.jpg');
    background-repeat: no-repeat;
    background-position-x: 100%;
}
.container--header-bottom
{
    box-sizing: border-box;
    padding-top: 22px;
    padding-bottom: 13px;
}
.container--footer-container
{
    position: relative;
}
.container--footer-container::before
{
    position: absolute;
    top: -19px;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';

    background-color: #2f83ba;
}

.footer
{
    color: white; 
    background-color: #2f83ba;
}
.footer__address
{
    position: relative;
}
.footer__address::before
{
    position: absolute;
    top: -37px;
    left: -40px;

    width: 20px;
    height: 102px;

    content: '';

    background-image: url('../img/rectanglef1.png');
    background-repeat: no-repeat;
}
.footer__address-content
{
    font-size: 18px;
    line-height: 19px;
}
.footer__develop
{
    position: relative;

    display: table-cell;

    vertical-align: middle;
}
.footer__develop::before
{
    position: absolute;
    top: -21px;
    right: -40px;

    width: 20px;
    height: 102px;

    content: '';

    background-image: url('../img/rectanglef2.png');
}

.header__upper
{
    color: white;
    background-color: #2f83ba;
}

.logo
{
    position: relative;

    display: table-cell;

    width: 167px;
    padding: 27px 0;

    background-color: white;
}
.logo::before
{
    position: absolute;
    top: -10px;
    left: -20px;

    width: 20px;
    height: 119px;

    content: '';

    background-image: url('../img/rectangleh1.png');
    background-repeat: no-repeat;
}
.logo__image
{
    display: block;

    margin: 0 auto;
}

.nav
{
    display: table-cell;

    box-sizing: border-box;

    text-align: center; 
    vertical-align: middle;
}
.nav--header
{
    width: 560px;
}
.nav--footer
{
    width: 600px;
}
.nav__link
{
    font-size: 20px;
    font-weight: normal;

    display: inline-block;

    text-transform: uppercase;
}
.nav__link--header-nav
{
    margin: 0 36px;
}
.nav__link--footer-nav
{
    padding: 0 10px;

    border-left: 2px solid white;
}

.nav__link--footer-nav:nth-of-type(1)
{
    border-left: none;
}

.nav__link--header-nav-active
{
    position: relative;
}
.nav__link--header-nav-active::before
{
    position: absolute;
    bottom: -63px;
    left: 0;

    content: '';

    border: 25px solid transparent;
    border-bottom: 25px solid white;
}

.our-guarantees
{
    background-color: #575757;
}
.our-guarantees__title
{
    font-family: 'Days', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700; 

    margin: 0 auto;
    margin-bottom: 17px;
    padding: 10px 0;

    text-align: center;
    text-transform: uppercase;

    color: #575757;
    background-image: url('../img/serv-header-bg.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
.our-guarantees__list
{
    font-size: 0;

    display: inline-block;

    text-align: center;
}
.our-guarantees__item
{
    display: inline-block;

    width: 158px;
    margin-right: 30px;
    margin-bottom: 40px;

    text-align: center;
    vertical-align: top;
}
.our-guarantees__item-link
{
    position: relative;

    display: block;

    width: 131px;
    height: 131px;
    margin: 0 auto;
    margin-bottom: 16px; 

    text-align: center;

    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
}
.our-guarantees__item-title
{
    font-size: 18px;
    font-weight: normal; 

    text-transform: uppercase;

    color: white;
}

.our-guarantees__item:nth-child(1) .our-guarantees__item-link
{
    background-image: url('../img/stuff.svg');
}

.our-guarantees__item:nth-child(2) .our-guarantees__item-link
{
    background-image: url('../img/terms.svg');
}

.our-guarantees__item:nth-child(3) .our-guarantees__item-link
{
    background-image: url('../img/mark.svg');
}

.our-guarantees__item:nth-child(4) .our-guarantees__item-link
{
    background-image: url('../img/guarantee.svg');
}

.our-guarantees__item:nth-child(5) .our-guarantees__item-link
{
    background-image: url('../img/consult.svg');
}

.services
{
    background-color: #2f83ba;
}
.services__title
{
    font-family: 'Days', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;

    margin: 0 auto;
    margin-bottom: 28px;
    padding: 10px 0; 

    text-align: center;
    text-transform: uppercase;

    color: #2f83ba;
    background-image: url('../img/serv-header-bg.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
.services__list
{
    font-size: 0;

    text-align: center;
    vertical-align: middle;
}
.services__item
{
    display: inline-block;

    width: 230px;
    margin-bottom: 5px;

    text-align: center;
    vertical-align: top;
}
.services__item-image
{
    position: relative;

    width: 131px;
    height: 131px;
    margin: 0 auto;

    border-radius: 50%; 
    background-color: white;
}
.services__item-image img
{
    position: absolute;
    left: -15px;
}
.services__item-description
{
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;

    padding: 15px 5px;

    text-transform: uppercase; 

    color: white;
}

.slide-title
{
    width: 450px; 
    padding: 30px;
}
.slide-title__text
{
    font-size: 26px;
    font-weight: 700;

    text-align: left; 
    text-transform: uppercase;
}

.slide-title
{
    background-color: #575757;
}

.carousel-caption
{
    right: 0;
    bottom: -25px;
    left: 20px;

    padding-bottom: 35px;
}

.item__text-content
{
    font-size: 16px;

    width: 300px;

    text-align: left;

    color: #575757;
    text-shadow: none;
}

.carousel-indicators
{
    bottom: -12px;
    left: 70px;
}

.carousel-indicators li,
.carousel-indicators .active
{
    width: 33px;
    height: 7px;
    margin: 0;

    border-radius: 0;
    background-color: #575757;
}

.carousel-indicators .active
{
    background-color: #2f83ba;
}
