$blue-bg-color: rgb(47, 131, 186);
$body-color: rgb(255, 255, 255);
$brown-color: #575757;
$fsz15: 15px;
$fsz16: 16px;
$fsz18: 18px;
$fsz20: 20px;
$fsz26: 26px;
$fsz30: 30px;
$lh17: 17px;
$lh19: 19px;

