img{
  max-width: 100%;
}
body{
  margin: 0;
  background-color: $body-color;
  font-family: "PTSans Narrow", Arial, sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
.clearfix::after{
  display: table;
  content: "";
  clear: both;
}
h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}
