.contacts{

  /*&::before{
    position: absolute;
    top: 0;
    right: -38px;
    width: 0;
    height: 131px;
    content: '';
    border-top: 0 solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 18px solid $dark-blue;
  }*/
  &__phones{
    margin-bottom: 5px;
  }
  &__phones-title,
  &__work-time-title{
    font-weight: normal;
    text-transform: uppercase;
  }
}
@media (min-width: $screen-sm) {
  .nav{

  }
}
@media (min-width: $screen-md) {
  .contacts{
    position: relative;
    display: block;
    box-sizing: border-box;
    font-size: $fsz18;
    line-height: $lh19;
    text-align: right;
  }
}
