.container{
  display: table;
  width: 980px;
  box-sizing: border-box;
  margin: 0 auto;
  &--about-us{
    background-image: url("../img/about-us-bg.jpg");
    background-repeat: no-repeat;
    background-position-x: 100%;
  }
  &--services-container{
  }
  &--header-upper{
    position: relative;
    background-image: url("../img/cont_upper_header_bg.png");
    background-repeat: repeat-y;
    &::after{
      position: absolute;
      content: "";
      width: 980px;
      height: 20px;
      background-image: url("../img/cont_upper_header_bg.png");
      background-repeat: repeat-y;
      bottom: -20px;
      left: 0;
    }
  }
  &--header-bottom{
    box-sizing: border-box;
    padding-top: 42px;
    padding-bottom: 13px;
  }
  &--footer-container{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      top: -19px;
      left: 0;
      width: 100%;
      height: 20px;
      background-color: $blue-bg-color;
    }
  }
}
