.footer{
  background-color: $blue-bg-color;
  color: $body-color;
  &__address{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      left: -40px;
      top: -37px;
      width: 20px;
      height: 102px;
      background-image: url("../img/rectanglef1.png");
      background-repeat: no-repeat;
    }
  }
  &__address-content{
    font-size: $fsz18;
    line-height: $lh19;
  }
  &__develop{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    &::before{
      position: absolute;
      content: '';
      top: -21px;
      right: -40px;
      width: 20px;
      height: 102px;
      background-image: url("../img/rectanglef2.png");
    }
  }
}
