.footer{
  background-color: $blue-bg-color;
  color: $body-color;
  &__address-content{
    box-sizing: border-box;
    font-size: $fsz18;
    line-height: $lh19;
  }
  &__develop{
    box-sizing: border-box;
    display: block;
    vertical-align: middle;
  }
}
.footer__decor1{
  display: none;
  .footer__develop{
    text-align: center;
    margin: 0 auto;
  }
  .footer__develop-item{
    text-align: right;
    display: block;
    margin: 0 auto;
  }
  p.footer__address-content{
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media (min-width: $screen-sm) {

  .footer__develop-item{
    text-align: right;
  }

}
@media (min-width: $screen-md) {
  .footer__develop{
    padding-top: 20px;
  }
  .footer__develop-item{
    display: block;
    text-align: right;
  }
  p.footer__address-content{
    margin-bottom: 0;
    margin-top: 0;
  }
  .footer__decor1{
    position: relative;
    display: block;
    &::before{
      position: absolute;
      content: '';
      top: -21px;
      right: 960px;
      width: 0;
      height: 62px;
      border-bottom: 0 solid transparent;
      border-top: 21px solid transparent;
      border-right: 18px solid $dark-blue;
    }
    &::after{
      position: absolute;
      content: '';
      top: -20px;
      left: 960px;
      width: 0;
      height: 62px;
      border-bottom: 0 solid transparent;
      border-top: 21px solid transparent;
      border-left: 18px solid $dark-blue;
    }
  }
}
