.footer{
  background-color: $blue-bg-color;
  color: $body-color;
  &__address-content{
    box-sizing: border-box;
    font-size: $fsz18;
    line-height: $lh19;
  }
  &__develop{
    box-sizing: border-box;
    display: block;
    vertical-align: middle;
  }
}
.decor1{
  position: relative;
  &::before{
    position: absolute;
    content: '';
    top: -21px;
    right: 20px;
    width: 0;
    height: 92px;
    border-bottom: 0 solid transparent;
    border-top: 21px solid transparent;
    border-right: 18px solid $dark-blue;
  }
  &::after{
    position: absolute;
    content: '';
    top: -20px;
    left: 960px;
    width: 0;
    height: 92px;
    border-bottom: 0 solid transparent;
    border-top: 21px solid transparent;
    border-left: 18px solid $dark-blue;
  }
  .footer__develop{
    text-align: center;
    margin: 0 auto;
  }
  .footer__develop-item{
    text-align: right;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: $screen-sm) {

  .footer__develop-item{
    text-align: right;
  }

}
@media (min-width: $screen-md) {
  .footer__develop{
    padding-top: 20px;
  }
  .footer__develop-item{
    display: block;
    text-align: right;
  }

}
