.logo{
  position: relative;
  //display: table-cell;
  padding: 5px 0;
  box-sizing: border-box;
  background-color: $body-color;
  margin-bottom: 15px;

  &__image{
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: $screen-sm) {
  .logo{
    padding: 8px 0;
    margin-bottom: 30px;
  }
}
@media (min-width: $screen-md) {
  .logo{
    padding: 19px 0;
    margin-bottom: 0;
    &::before{
      position: absolute;
      top: 0;
      left: -38px;
      width: 0;
      height: 131px;
      content: '';
      border-top: 0 solid transparent;
      border-bottom: 21px solid transparent;
      border-right: 18px solid $dark-blue;
    }
  }
}
