.nav{
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  &--header{
    width: 560px;
  }
  &--footer{
    width: 600px;
  }
  &__link{
    display: inline-block;
    font-size: $fsz20;
    font-weight: normal;
    text-transform: uppercase;
    &--header-nav{
      margin: 0 36px;
    }
    &--footer-nav{
      padding: 0 10px;
      border-left: 2px solid $body-color;
    }
  }
}
.nav__link--footer-nav:nth-of-type(1){
  border-left: none;
}
.nav__link--header-nav-active{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    bottom: -63px;
    left: 0;
    border: 25px solid transparent;
    border-bottom: 25px solid $body-color;
  }
}
