.nav{
  //display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  //background-color: red;
  &--header{
    margin-bottom: 20px;
  }
  &--footer{
    position: relative;
    box-sizing: border-box;
  }
  &__item{
    display: block;
    text-align: center;
    margin: 0;
  }
  &__list{
    padding: 0;
    margin: 0;
  }
  &__link{
    display: inline-block;
    font-size: $fsz20;
    font-weight: normal;
    text-transform: uppercase;
    &--header-nav{
      display: block;
      box-sizing: border-box;
      text-align: center;
      font-size: $fsz26;
      font-weight: 700;
    }
    &--footer-nav{
      padding: 0 15px;
      border-left: 1px solid $body-color;
    }
  }
}
.nav__link--footer-nav:nth-of-type(1){
  border-left: none;
}
.nav__link--header-nav{
  padding: 5px 0;
  border: 1px solid transparent;
  &:hover{
    position: relative;
    border-color: $body-color;
    background-color: $dark-blue;

  }
}
@media (min-width: $screen-sm) {
  .nav__link--header-nav{
    padding: 10px 0;
  }
}
@media (min-width: $screen-md) {
  .nav{
    margin-bottom: 0px;
    &--footer{
      padding: 20px 0;
    }
    .nav__link--header-nav{
      padding: 54px 0;
      font-size: $fsz20;
      font-weight: normal;
    }
    .nav__link--header-nav:hover::before{
      position: absolute;
      content: "";
      bottom: -25px;
      left: 25%;
      border: 25px solid transparent;
      border-bottom: 25px solid $body-color;
      z-index: 20;
    }
  }
  &__item{
    display: inline-block;
  }
  .nav__item{
    display: inline-block;

    width: 23%;
  }
  .nav__link--footer-nav{


  }
}
