.section-title{
  position: relative;
  margin: 0 auto;
  width: 220px;
  margin-bottom: 22px;
  text-align: center;
  font-family: 'Days', Arial, sans-serif;
  font-size: $fsz20;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 0;
  z-index: 5;
  &::before{
    position: absolute;
    z-index: -1;
    top: -4px;
    bottom: 0;
    left: 25px;
    width: 100%;
    content: '';
    transform: skew(-25deg);
    border-radius: 7px;
    background-color: inherit;
  }
  &::after{
    position: absolute;
    content: '';
    top: -4px;
    right: 25px;
    width: 100%;
    bottom: 0;
    z-index: -1;
    transform: skew(25deg);
    border-radius: 7px;
    background-color: inherit;
  }
  &--services{
    color: $blue-bg-color;
    background-color: $body-color;
  }
  &--about-us{
    background-color: $blue-bg-color;
    color: $body-color;
  }
  &--our-guarantees{
    color: $brown-color;
    background-color: $body-color;
  }
}
.section-title--services::before,
.section-title--services::after{
  border-bottom-color: $blue-bg-color;
}
.section-title--about-us::before,
.section-title--about-us::after{
  border-bottom-color: $body-color;
}
.section-title--our-guarantees::before,
.section-title--our-guarantees::after{
  border-bottom-color: $brown-color;
}
